<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<title>SQL Table</title>
<style>
table {
border-collapse: collapse;
width: 100%;
}
th, td {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}
th {
background-color: #f2f2f2;
}
</style>
</head>
<body>
<h1>SQL Table</h1>
<table>
<thead>
<tr>
<th>Protein Accession</th>
<th>Domain Accession</th>
<th>Name</th>
<th>Source Database</th>
<th>Type</th>
<th>Integrated</th>
<th>Signatures</th>
<th>GO Terms</th>
<th>Protein Length</th>
<th>Locations</th>
</tr>
</thead>
<tbody>
<tr><td>G7NWA7</td><td>cd08305</td><td>Pyrin: a protein-protein interaction domain</td><td>cdd</td><td>domain</td><td>-</td><td>-</td><td>-</td><td>786</td><td>38..111</td></tr>
<tr><td>G7NWA7</td><td>G3DSA:1.10.533.10</td><td>Death Domain, Fas</td><td>cathgene3d</td><td>homologous_superfamily</td><td>IPR011029</td><td>-</td><td>-</td><td>786</td><td>22..123</td></tr>
<tr><td>G7NWA7</td><td>G3DSA:2.40.50.140</td><td>Nucleic acid-binding proteins</td><td>cathgene3d</td><td>homologous_superfamily</td><td>IPR012340</td><td>-</td><td>-</td><td>786</td><td>216..328,329..419,569..672,673..771</td></tr>
<tr><td>G7NWA7</td><td>IPR004020</td><td>DAPIN domain</td><td>interpro</td><td>domain</td><td>-</td><td>SM01289,PS50824,PF02758</td><td>-</td><td>786</td><td>29..116</td></tr>
<tr><td>G7NWA7</td><td>IPR004021</td><td>HIN-200/IF120x</td><td>interpro</td><td>domain</td><td>-</td><td>PS50834,PF02760</td><td>-</td><td>786</td><td>217..417,563..762</td></tr>
<tr><td>G7NWA7</td><td>IPR011029</td><td>Death-like domain superfamily</td><td>interpro</td><td>homologous_superfamily</td><td>-</td><td>SSF47986,G3DSA:1.10.533.10</td><td>-</td><td>786</td><td>22..123</td></tr>
<tr><td>G7NWA7</td><td>IPR012340</td><td>Nucleic acid-binding, OB-fold</td><td>interpro</td><td>homologous_superfamily</td><td>-</td><td>G3DSA:2.40.50.140,SSF50249</td><td>-</td><td>786</td><td>216..328,329..419,569..672,673..771</td></tr>
<tr><td>G7NWA7</td><td>IPR040205</td><td>HIN-200 family</td><td>interpro</td><td>family</td><td>-</td><td>PTHR12200</td><td>GO:0002218,GO:0035458</td><td>786</td><td>29..420</td></tr>
<tr><td>G7NWA7</td><td>PF02758</td><td>PAAD/DAPIN/Pyrin domain</td><td>pfam</td><td>domain</td><td>IPR004020</td><td>-</td><td>-</td><td>786</td><td>38..108</td></tr>
<tr><td>G7NWA7</td><td>PF02760</td><td>HIN-200/IF120x domain</td><td>pfam</td><td>family</td><td>IPR004021</td><td>-</td><td>-</td><td>786</td><td>229..397,576..741</td></tr>
<tr><td>G7NWA7</td><td>PS50824</td><td>DAPIN domain profile</td><td>profile</td><td>domain</td><td>IPR004020</td><td>-</td><td>-</td><td>786</td><td>29..116</td></tr>
<tr><td>G7NWA7</td><td>PS50834</td><td>HIN-200 A and B domains profile</td><td>profile</td><td>domain</td><td>IPR004021</td><td>-</td><td>-</td><td>786</td><td>217..417,563..762</td></tr>
<tr><td>G7NWA7</td><td>PTHR12200</td><td>INTERFERON-INDUCIBLE PROTEIN AIM2 FAMILY MEMBER</td><td>panther</td><td>family</td><td>IPR040205</td><td>-</td><td>-</td><td>786</td><td>29..420</td></tr>
<tr><td>G7NWA7</td><td>SM01289</td><td>PAAD/DAPIN/Pyrin domain</td><td>smart</td><td>domain</td><td>IPR004020</td><td>-</td><td>-</td><td>786</td><td>34..112</td></tr>
<tr><td>G7NWA7</td><td>SSF159141</td><td>HIN-2000 domain-like</td><td>ssf</td><td>homologous_superfamily</td><td>-</td><td>-</td><td>-</td><td>786</td><td>228..329,331..416,573..673,674..762</td></tr>
</tbody>
</table>
</body>
</html>